<!DOCTYPE html>
<html>
  <body>
    <style>
    .heading {
    background-color: tomato;
    color: white;
    padding: 10px;
} 
      </style>
    <h1 class = 'heading'>
      This is the about page
    </h1>
    <p>
       <%=link_to 'home', root_path%>
    </p>
    
  </body>
</html>