<!DOCTYPE html>
<html>
  <body>
    <style>
    .heading {
    background-color: tomato;
    color: white;
    padding: 10px;
} 
      </style>
    <h1 class = 'heading'>
      This is the home page
    </h1>
    
    <%=link_to 'About', about_path%> |
    <%= link_to "Articles", articles_path%>


  </body>
</html>
